<% layout('layout') -%>


<div class='container'>
   <div class='row text-center'>
    <div class="col-lg-6 mx-auto mt-5">   
       <h3>Ajouter ou modifier un utilisateur</h3>
       
       
       <% if(message.length > 0){  %>
       
       <div class="alert alert-success" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="close"></button>
              <span> &times;</span>
              
            <%= message %>  
           
       </div>
       
       <% } %>
       
        <form method="post" class="mt-5">
        
                 <div class="form-group">
                  <input type="text"  name="name"  class="form-control" placeholder="Nom">
                </div>  
 
                   <div class="form-group">
                  <input type="text"  name="name"  class="form-control" placeholder="Prénom">
                </div>  
                
                   <div class="form-group">
                  <input type="number"  name="number"  class="form-control" placeholder="Age">
                </div>  
                
                
                 <a><input type="submit" value="Créer" class="btn btn-warning"></a><br>
                 
                  <a><input type="submit" value="modifier" class="btn btn-secondary mt-2"></a>
        </form>
    
</div>
</div>
</div>