<% layout('layout') -%>


<div class='container'>
   <div class='row mt-5'>
    <div class="col-lg-8 ">   
   <h3>Tableau de bord :</h3>  
</div>

<div class='col-lg-4'>
      <%-  include ('../inc/menu-admin') %>
</div>
</div>
</div>