<% layout('layout') -%>


<div class='container'>
   <div class='row text-center'>
    <div class="col-lg-6 mx-auto mt-5">   
       <h3>Modifier une categorie</h3>
        
       
      
     
        <form method="post" class="mt-5">
        
                 <div class="form-group">
                  <input type="text"  name="name"  class="form-control" placeholder="Nouveau nom de la catégorie" value="<%= category.name %>">
                </div>  
 

                 <a><input type="submit" value="Modifier" class="btn btn-warning"></a>
               
        </form>
    
       
</div>
</div>
</div>