<% layout ('layout') -%>


<div class='container'>
   <div class='row text-center'>
    <div class="col-lg-6 mx-auto mt-5">   
       <h3>Inscription</h3>
       
       <% if(errors.length > 0){  %>
       
       <div class="alert alert-danger" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="close"></button>
              <span> &times;</span>
              
            <%= errors %>  
           
       </div>
       
       <% } %>
       
        <form method="post" class="mt-5">
            
             <div class="form-group">
              <input type="name"  name="name"  class="form-control" placeholder="Votre Nom" required>
            </div>  
            
             <div class="form-group">
              <input type="email"  name="email"  class="form-control" placeholder="Votre Email" required>
            </div>  

             <div class="form-group">
              <input type="password"  name="password"  class="form-control" placeholder="Votre Mot de passe" required>
            </div> 
             

             <a><input type="submit" value="S'inscrire" class="btn btn-warning" required></a>
              
        </form>
    
</div>
</div>
</div>