 <section id="contact">
    <footer class="container-fluid">
    
     <div class="row text-center align-items-center"> 
          
           <div class="etiquette text-center">
             <h6>Suivez nous</h6>
           </div>
             
           <div class="social row">
                <span><i class="fa fa-facebook"></i></span>
                <span><i class="fa fa-twitter"></i></span>
                <span><i class="fa fa-google-plus"></i></span> 
                <span><i class="fa fa-linkedin"></i></span> 
                <span><i class="fa fa-pinterest-p"></i></span> 
         </div>
         
          <h6>Horaires d'ouverture boutique: Du mardi au samedi 9h à 12h15 et de 14h30 à 19h </h6>
          
       </div>
     
     
     
   </footer>
     
      <script src='https://js.stripe.com/v1/' type="text/javascript"></script>
      <script src='https://js.stripe.com/v2/' type="text/javascript"></script>
      <script src='https://js.stripe.com/v3/' type="text/javascript" ></script>
      
</section>
  
 