 <ul class="list-group">
  
  
  <li class="list-group-item"><a href="/admin/categories">Gestion des catégories</a></li>
  <li class="list-group-item"><a href="/admin/produits">Gestion des produits</a></li>
  <li class="list-group-item"><a href="">Gestion des commandes</a></li>
  <li class="list-group-item"><a href="/admin/users">Gestion des utilisateurs</a></li>

   </ul>