<% layout('layout') -%>


 <main class="container-fluid">
    
     <section id="presentation" class="row align-items-center justify-content-center">
      
          <h1>Ambiance</h1>
          <h2>terroirs</h2>
            <h3>Tulle</h3>
     
    </section>
      
       
         <h1 id="title">Nos meilleurs produits</h1> 
         
    
     <section id="article" class="row align-items-center justify-content-center">          
   
     <article class="col-md-3">  
         <div class="card mb-3 ">
           <figure>
            <a href="/">
            <div class="effet-hover">
              <img style="height: 390px; width: 100%; display: block;" src="image/biere.jpg" alt="image bouteille de biere artisanal">
            </div>
            <figcaption class="text-center">
             <h3>Les bières de la brasserie corrézienne</h3>
            </figcaption>
            </a>
            </figure>
            
            
          <div class="card-body">
            <span class="card-text">Lot de 3 bieres artisanales fabriquées sur nos terres corréziennes depuis 2008</span>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer text-muted">
          <h4>EN STOCK</h4>
           <span>12€</span>
          </div>
        </div>
     </article>
     
   
     <article class="col-md-3">  
         <div class="card mb-3">
              <figure>
                <a href="">
                <div class="effet-hover">
                  <img style="height: 340px; width: 100%; display: block;" src="image/fromage.jpg" alt="image du fromage de brebis">
                </div>
                <figcaption class="text-center">
                 <h3>Fromage de brebis</h3>
                </figcaption>
                </a>
                </figure>
            
          <div class="card-body">
            <span class="card-text"> Fromage de Brebis provenant du Gaec Magne à Meymac. Un fromage simple et élégant, labellisé Origine Corrèze, révélant un certain caractère, dû à son affinage sur un lit de paille</span>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer text-muted">
          <h4>EN STOCK</h4>
          <span>5€</span> 
          </div>
        </div>
     </article>     
                
                
     <article class="col-md-3">  
         <div class="card mb-3">
         
              <figure>
                <a href="">
                <div class="effet-hover">
                  <img style="height: 365px; width: 100%; display: block;" src="image/jus%20d'orange.jpg" alt="image du jus d'orange">
                </div>
                <figcaption class="text-center">
                 <h3>Jus d'orange bio de la Corrézienne</h3>
                </figcaption>
                </a>
                </figure>
            
          <div class="card-body">
            <span class="card-text">Ce jus de pommes bio, labellisé Origine Corrèze, est sans colorant, sans conservateur, et sans arôme ajouté</span>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer text-muted">
          <h4>EN STOCK</h4>
          <span>8€</span> 
          </div>
        </div>
     </article>                
                                 
                                            
      <article class="col-md-3">  
         <div class="card mb-3">
         
           <figure>
                <a href="">
                <div class="effet-hover">
                  <img style="height: 389px; width: 100%; display: block;" src="image/les%20pates.jpg" alt="image des pâtes de lunateli">
                </div>
                <figcaption class="text-center">
                 <h3>les pâtes fermières de Lunateli</h3>
                </figcaption>
                </a>
                </figure>
                
          <div class="card-body">
            <span class="card-text">Produites et issues d’une agriculture 100% Corrézienne</span>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer text-muted">
          <h4>EN STOCK</h4>
          <span>6€</span> 
          </div>
        </div>
     </article>                                                 
                                                                       
                                                                                  
                                                                                                        
                               
      </section>
         
    
        
         <section id="plats">
               
             
                <h1 id="title">Petite faim ?</h1>
             
             
             <div class="container1">
             
             
             
              <img src="image/pate.jpg" class="image1" alt="">
            
              
             
              <img src="image/sandwich.jpeg" class="image2" alt="">  
              <img src="image/salade1.jpg" class="image3" alt="">      
            </div>
            
            
        </section>
    
        <a href="/menu"><button type="button" class="btn btn-warning" title="Menu">MENU</button><br></a>
      
        
     <section id="bandeau" class="row align-items-center justify-content-center overlay">
          
          
          <h1>Restaurant</h1>
        
      
     </section>
      
      
    
      
     <section id="reservation" class="row align-items-center justify-content-center">
      
  
          
           <h1>Réservation</h1>
      
               <div class="row list">
                   
                   
                   <i class="fa fa-calendar" aria-hidden="true"></i>
                
      
             <select class="form-select" aria-label="Default select example"> 
                  <option selected>01/01/2023</option>
                  <option value="1">02/01/2023</option>
                  <option value="2">03/01/2023</option>
                  <option value="3">04/01/2023</option>
                  <option value="4">05/01/2023</option>
            </select>
                   
          
                   <i class="fa fa-clock-o" aria-hidden="true"></i>

          
            <select class="form-select" aria-label="Default select example">
                  <option selected>12:00</option>
                  <option value="2">13:00</option>
                  <option value="1">18:00</option>
                  <option value="3">19:00</option>
                  
                 
            </select> 
                   

                  <i class="fa fa-users" aria-hidden="true"></i>

           <select class="form-select" aria-label="Default select example">
                  <option selected>1 invité</option>
                  <option value="1">2 invités</option>
                  <option value="2">3 invités</option>
                  <option value="3">4 invités</option>
            </select>
          
          </div>
          
            <a href="/reserved"><button type="button" class="btn btn-warning reserve" title="Réservation en un clique">Réserver</button><br></a>
           
      
     </section>
      
        <div class="bande text-center"><h6>Contactez nous au 06 33 47 11 77</h6></div>
      
     <section id="temoignage" class="row">
          
     
       
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2808.4066857311186!2d1.7544807157444804!3d45.25978925508021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f88dc2ce87130f%3A0x1d453fd755ea7813!2sAmbiance%20Terroirs%20Tulle!5e0!3m2!1sfr!2sfr!4v1660660848714!5m2!1sfr!2sfr" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!4v1660667340055!6m8!1m7!1soEqEzqQKdJHQfpatYB7GKg!2m2!1d45.25977164569898!2d1.756299170653743!3f103.0666696996844!4f-5.881334665291305!5f0.7820865974627469" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
     </section>
      
 </main>
       
  




