<% layout('layout') -%>



<body>
 
  
  <div class="menu-card">
 
    <div class="header">
     <a> Menu Ambiance terroir</a>
    </div>
    
   
    <div class="items">
      <div class="item">
         <h3>Entrée</h3>
        <div class="name"><h4>Salade Terroir</h4></div>
       
      </div>
      
      <div class="item">
        <h3>Plat</h3>
        <div class="name"><h4>Burger Terroir</h4></div>
        <div class="name"><h4>Frites Maison / Purée De Carrotte</h4></div>
      </div>
      
      <div class="item">
       <h3>Dessert</h3>
        <div class="name"><h4>Fromage</h4></div>
      
      </div>
    </div>
    
      <div class="items">
       
      <div class="item">
        <div class="name"><h4>Oeufs Mimosa</h4></div>
    
      </div>
      <div class="item">
        <div class="name"><h4>Pate Bolognaise</h4></div>
        
      </div>
      <div class="item">
        <div class="name"><h4>Salade De Fruits</h4></div>
       
      </div>
    </div>
     
      <div class="items">
      <div class="item">
        <div class="name"><h4>Terrine De Campagne</h4></div>
  
      </div>
      <div class="item">
        <div class="name"><h4>Entrecote</h4></div>
         <div class="name"><h4>Frites Maison / Purée De Carrotte</h4></div>
      </div>
      <div class="item">
        <div class="name"><h4>Tarte Aux Pommes</h4></div>
        
      </div>
    </div>
    
  </div>
  
</body>
