<% layout('layout') -%>


<h3 class="alert alert-success">Paiement réalisé avec succés! Vous recevrez votre commande sous 48h !</h3>


   <a href="/home" class="btn btn-secondary justify-content-center">Retour Accueil</a>